# Your application domain
DOMAIN=my-liiive.org

# Subdomains: automatically derived from DOMAIN
# You can also set them explicitly if needed
APP_DOMAIN=app.${DOMAIN}
WS_DOMAIN=ws.${DOMAIN}
API_DOMAIN=api.${DOMAIN}
STUDIO_DOMAIN=studio.${DOMAIN}

# Contact E-Mail for Let's Encrypt
LE_EMAIL=you@my-liiive.org

# Studio HTTP Basic Auth password
# Default: liiive / liiive
# Generate your own using
#
# htpasswd -nbB username yourpasswrod | sed 's/\$/\$\$/g'
#
liiive:$$2y$$05$$/I3Mbc3kwOAPGyh229G5YeQMOvEWxkB1GW4VCOPoAUWCGk2AbtAX.