.x-ray-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.a9s-gl-canvas, .a9s-annotationlayer {
  z-index: 2;
}