.pulse-effect {
  display: inline-block;
  animation: pulse-animation 3s infinite;
}

@keyframes pulse-animation {
  0%, 75% {
    opacity: 1;
  }
  82.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}