svg.cursor .typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 20px;
}

svg.cursor .typing-dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: typingFade 1s infinite;
}

svg.cursor .typing-dot:nth-child(1) {
  animation-delay: 0s;
}

svg.cursor .typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}

svg.cursor .typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
